<div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.User_Name}}" placeholder="Username" /required name="username">
    <label for="floatingInput">Username</label>
    </div>
    </div>
    <div class="col-6">
    <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" value="{{this.Password}}" placeholder="Password" /required name="password">
    <label for="floatingPassword">Password</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.F_Name}}" placeholder="eg.John" /required name="fname">
    <label for="floatingInput">Firstname</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.M_Name}}" placeholder="eg.Dave" name="mname">
    <label for="floatingInput">Middlename</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.L_Name}}" placeholder="eg.Richards" name="lname">
    <label for="floatingInput">Lastname</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.Age}}" placeholder="Age" name="age">
    <label for="floatingInput">Age</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" value="{{this.Salary}}" placeholder="Salary" name="salary">
    <label for="floatingInput">Salary</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.User_Type}}" placeholder="Salary" name="usertype">
    <label for="floatingInput">Job type</label>   
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.Email}}" placeholder="Salary" name="email">
    <label for="floatingInput">Email</label>   
    </div>
    </div>
    <div class="col-4">
        <div class="form-floating mb-3">
        <select class="form-select" id="floatingSelect" value="{{this.Gender}}" aria-label="Floating label select example" name="gender">
        <option selected>Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="O">Others</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
    </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>