<h1> Our Succesful Tenders!! </h1>
<p onclick="history.back()">Click here to go back</p>
{{#each rows}}
<section style="background-color: #379683;">
    <div class="container py-5">
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <p>Successfully Got By</p>
            <h5 class="my-3">{{this.F_Name}} {{this.L_Name}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Company</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Company_Name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Location</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Location}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Details</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.Tender_Info}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <hr>
    </section>
    </a>
  {{/each}}